@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    max-width: 1320px;
    margin: 0 auto;
}
header{
    max-width: 1320px;
    margin: 50px auto;
    
}
.font-Merriweather{
     font-family: "Merriweather", serif;
}
.font-inter{
    font-family: "Inter", sans-serif;
}
.header-content{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Banner\ Image.png');
    border-radius: 15px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.new-year-content{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.new-year-text{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 32px;

}
.party-celebration{
    font-weight: 900;
    font-size: 72px;
    color: #FFFFFF;
    text-align: center;
}
/* off deals */
.off-section-continer{
    display: flex;
    justify-content: center;

}
.off-section{
    align-items: center;
    
}
.off-text{
    color: #FF0000;
    font-weight: 700;
    font-size: 88px;
}
.deals-text{
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
}
.category-title{
    text-align: center;
    color: #070211;
    font-weight: 700;
    font-size: 48px;
    margin-top: 20px;
}
.happy-new-year-img-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
/* start welcome midnight party */
.midnight-party-content{
    margin: 120px 0px;
    border-radius: 16px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../images/Vectorrr.png');
    height: 600px;
    display: flex;
    padding: 70px 130px;
    align-items: center;

    
}
.welcome-party{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 64px;
    text-align: center;
    width: 75%;
    margin-top: 25px;

}
.welcome-party-description{
    color: #FFFFFFCC;
    font-weight: 400;
    font-size: 18px;
    margin-top: 50px;
    text-align: center;
}
.btn-join-now{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    background: transparent;
    border:none;
    outline: none;
    text-align: center;
    width: 50%;
    margin-top: 50px;

}
.address-and-time-section{
    height: 480px;
    padding: 100px 380px;
    background:  linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 120px;
}
.address-and-time{
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    
}
.place,.time,.date{
padding:  10px 0px;
}
.time-and-date-color{
    color: #FF0000;
}
.time-btn-join{
    font-weight: 700;
    font-size: 20px;
    padding: 16px 32px;
    background: #FF0000;
    border-radius: 8px;
    outline: none;
    border: none;
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.new-offer-coming-soon-container{
    display: flex;
    gap: 70px;
    align-items: center;
}
.best-offer{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
}
.coming-soon{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}
.coming-description{
    font-weight: 400;
    font-size: 20px;
    color: #07021199;
}
.flames-pic{
    border: 15px solid #FF0000;
    border-radius: 50%;
    padding: 10px;
    width: 100%;
}
.new-offer-title{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
    color:#FF0000;
}
.description-margin{
    margin-bottom: 50px;
}
/* holidays section start */
.holiday-seals-container{
    margin: 120px 0px;
    text-align: center;

}
.function-title{
    color: #070211;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;

}
.Holidays-text{
    color:#FF0000;
    
}
.holiday-seals{
    font-weight: 900;
    font-size: 72px;
    margin-bottom: 30px;
  
}
.holidays-description{
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    width: 75%;
    color: #07021199;
}
.red-portion{
    background: #FF0000;
    height: 230px;
    position: relative;
    border-radius: 16px;
    margin: 120px;
   
}
.gift{
    position: absolute;
    bottom: 10px;

}
.discount{
    position:absolute;
    right: 10px;
    bottom: 230px;
}


